.details-form {
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container{
    background: linear-gradient( to left top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2) );
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgb(122 122 122 / 21%);
}